/*!
Theme Name: asksid
Theme URI: http://underscores.me/
Author: Zerozilla
Author URI: https://zerozilla.com
Description: Description
Version: 1.0.0
Tested up to: 5.4
Requires PHP: 5.6
License: GNU General Public License v2 or later
License URI: LICENSE
Text Domain: asksisd
Tags: custom-background, custom-logo, custom-menu, featured-images, threaded-comments, translation-ready

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned.

asksid is based on Underscores https://underscores.me/, (C) 2012-2020 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v2 or later.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal https://necolas.github.io/normalize.css/
*/

body,span,p,a,button,div,label,input,h1,h2,h3,h4,h5,h6{font-family: 'Montserrat', sans-serif;}
.Montserrat{font-family: 'Montserrat', sans-serif;}
.global{width:100%;height:auto;float:left;position:relative;font-family: 'Montserrat', sans-serif;}
.weight400{font-weight: 400;}
.weight500{font-weight: 500;}
.weight600{font-weight: 600;}
.weight700{font-weight: 700;}
.weight800{font-weight: 800;}
.colorRed{color: #ce130c;}
.colorBlack{color: #000;}
.topHeader{background-color: #FFF; padding: 10px;}
.sticky{background: #350101;}
.ulTopHeader{list-style: none;margin: 0;padding: 0;}
.ulTopHeader li{display: inline-block;}
.ulTopHeader i{font-size: 20px;padding-right: 8px;vertical-align: text-bottom;}
.ulTopHeader a{color: #0C5971;font-size: 14px;padding-right: 18px;font-weight: 600;}
.ulTopHeader a:hover{color: rgba(12,89,113,0.6); text-decoration: none;}

.ulTopHeaderSocial{list-style: none;margin: 0;padding: 0;}
.ulTopHeaderSocial li{display: inline-block;}
.ulTopHeaderSocial i{font-size: 20px;padding-right: 8px;}
.ulTopHeaderSocial a{color: #0C5971;font-size: 14px;padding-right: 10px;}
.ulTopHeaderSocial a:hover{color: rgba(12,89,113,0.6); text-decoration: none;}

.ulFooterSocial{list-style: none;margin: 0;padding: 0;margin-top: 30px;}
.ulFooterSocial li{display: inline-block;}
.ulFooterSocial i{font-size: 35px;padding-right: 8px;}
.ulFooterSocial a{color: #FFF;font-size: 14px;padding-right: 10px;}

.ulFooterAddress{list-style: none;margin: 20px 0px;padding: 0;}
.ulFooterAddress li{display: inline-block;line-height: 42px;}
.ulFooterAddress i{font-size: 25px;padding-right: 14px;vertical-align: sub;}
.ulFooterAddress a{color: #FFF;font-size: 14px;padding-right: 10px;}
.ulFooterAddress a:hover{color: rgba(255,255,255,0.6); text-decoration: none;}
.colorGreen{color: green;}
.footercontent strong{display: block;
    color: #FFF;font-size: 20px;
    font-weight: 500;}
.copyright p{color: #FFF;
    margin-top: 10px;font-size: 10px;}
.copyrightComp p{
    color: #c89493;
    font-size: 18px;}
.copyrightComp label{font-size: 24px;
    font-weight: 600;
    color: #FFF;    padding-left: 15px;
    padding-right: 15px;}
.navbar-brand img{max-width: 128px;}
/*.themeBackgroundColor{background: #0C5971;}
.themeColor{color: #0C5971;}*/
.pTagLightBlack{color: #676767;}
.pTagBlack{color: #676767;}
.pTagCement{color: #0C5971;}
.fullwidthcontent p{text-align: center;
    font-size: 15px;
    line-height: 26px;}
header{background-color: transparent;position: fixed !important;
    top: 0;
    left: 0; z-index: 99;}
header .navbar{margin-bottom: -3px; padding: 4px 10px;}
header .navbar-nav > li > a{color: #FFF; font-weight: 400;font-size:16px;}
header .navbar-nav > li {padding: 0px 15px;}
header .navbar-nav .active a{color: #FFF;     font-weight: 600;}
header .navbar-nav .active::after{ background: #FFF; width: 100%;}
header .navbar-nav > li{padding: 5px; border-left: 6px solid transparent;}
.sticky .navbar-expand-lg .navbar-nav .nav-link{color: #FFF;}
.sticky .menuRightText{color: #FFF;}
/*header .navbar-nav > li{border-right: 1px solid rgba(255,255,255,0.3);}*/
.navbar-toggler {
    padding: .25rem .75rem;
    margin-left: -23px;
}
.innerBanner{max-width: 100%;overflow: hidden;}
button.navbar-toggler:focus {
    outline: none;
}
/*header .navbar-nav > li:first-child::before{display: none;}*/
/*header .navbar-nav > li::before{ content: '';position: absolute;height: 25px;width: 1px;background: rgba(255,255,255,0.2);margin-top: 9px;margin-left: -7px;}*/
header li.dropdown::focus, header li.dropdown:hover{background-color: #020202; color: #020202;}
/*header .navbar-nav > li:hover::after {    width: 100%;left:0;}
header .navbar-nav > li::after {    content: '';    display: block;    width: 0;    height: 3px;    background: #FFF;    -webkit-transition: width .3s;    transition: width .3s; margin-top:2px;margin-bottom: -10px;}*/
/*header .navbar-nav > li.dropdown::after{display:none !important;}*/
/*header .dropdown-toggle::after{ content: '';    display: inline-block !important;   background:transparent !important; color:#000; }*/
/*header .dropdown:hover .dropdown-toggle::after{  background:transparent !important; color:#FFF; }*/
header .dropdown-menu>.active>a, header .dropdown-menu>.active>a:focus, header .dropdown-menu>.active>a:hover{background-color: transparent;}
header .navbar-nav .open>a, .navbar-nav .open>a:focus, header .navbar-nav .open>a:hover{background-color: transparent !important;}
header .navbar-nav>li>.dropdown-menu{padding: 0px; border-radius: 5px; border: 0; }
header .navbar-nav>li>.dropdown-menu>li>a{padding: 10px; font-weight: 500;color: #0C5971;    font-size: 16px;}
header .navbar-nav>li>.dropdown-menu>li>a:hover{color: #0C5971; background: rgba(12,89,113,0.4);}
header .dropdown-menu>.active>a:hover{color: #FFF;}
header li.dropdown:hover > .dropdown-menu { background: #FFF !important;    color: #fff; margin-top:5px;  margin-left: -6px;    border-radius: 0;    }
header .navbar-toggler-icon {  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");}
.dropdown .dropdown-item{color:#FFF; padding:10px 0px;}
.dropdown-item:focus, .dropdown-item:hover{background:transparent; }
header.tSticky .navbar-nav>li:after {
    bottom: -8px;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    left: 0;
}

.slidingMenu{width: 100%; height: 100%; float: left;     min-height: 100vh; background: #390102; padding: 15px; z-index: 999; position: fixed; top: 0; left:0; transition: all 500ms ease-in-out; box-shadow:3px 0 11px -5px rgba(115,115,115,0.75);}
.slidingMenu_show{opacity:1;}
.slidingMenu_hide{opacity:0; z-index:-5;}
.menuOverlay{width: 100%; height: 100%; position: fixed; background: rgba(0,0,0,0); top: 0; left: 0; display: none;}
.closeMenu{font-size: 27px;
    color: #FFF;
    float: left;
    margin: 8px 4px;
    font-weight: 700;}
    a.navbar-brand.mobilelogomenu {
    text-align: center;
    display: block;
}
.small6{ box-sizing: border-box;    float: left; margin-bottom: 30px;}
.scrollableMenu .affix {
      top: 90px;
      z-index: 9999 !important;
    padding: 0px;
    background: #fff;
    box-shadow: 0 2px 15px #ddd;margin: 30px 0px;    border-left: 3px solid #fe4e56;
  }
.scrollableMenu .nav-pills>li.active>a, .scrollableMenu .nav-pills>li.active>a:focus, .scrollableMenu  .nav-pills>li.active>a:hover{color: #fe4e56; background: #FFF;}
.mainMenu.affix {animation: 1s alertAnim forwards; transition: all 500ms ease-in-out; top: 0;width: 100%;  z-index: 999;  background-color: #FFF !important;        border-bottom: 1px solid #e2e4ec;}
.mainMenu.affix .navbar-nav .active a{color: #FFF;}
.mainMenu.affix .navbar-nav li a{color: #898989;}
.slidingMenu .navbar-nav{padding-left: 25px;    padding-top: 31px;}
.slidingMenu .navbar-nav > li{padding:5px 0px;}
/*.slidingMenu .navbar-nav > li > a{text-transform: uppercase;}*/
.slidingMenu .nav > li > a:focus, .nav > li > a:hover{ background-color: transparent !important;  }
.slidingMenu .navbar-nav li a:hover{  color: #FFF !important; }
.slidingMenu .navbar-nav li a{color: #FFF;  font-size: 20px; font-weight: 400; letter-spacing: 1px;}
ul.dropdown-menu.show li a {
    font-weight: 400; padding-left: 15px;
}
.dropdown-menu{background: #0c5971 !important;border: 0px !important;}
.slidingMenu .navbar-nav .active a{color: #FFF;font-weight: 600;}
.slidingMenu .panel{margin-bottom: 0px; box-shadow: none;}
.slidingMenu .panel-body{padding: 0 15px;}
.slidingMenu .brand-name-wrapper a{width: 100%;height: auto;float: left;display: block;margin: 10px auto;}
.mobileBtns{width: 100%;    text-align: center;}
#carouselExampleIndicators{cursor: pointer;}
footer{padding: 40px 0px;min-height: 340px; background: url(assets/images/wave4.png)no-repeat; background-size: cover;}
footer h2{font-size: 20px;
    font-weight: 600;
    color: #FFF;
    margin-bottom: 30px;}
footer ul{list-style: none;
    margin: 0;
    padding: 0;}
footer ul li{line-height: 2;}
footer ul li a{color: #FFF;
    font-size: 14px;}
footer ul li a:hover{color: rgba(255,255,255,0.6); text-decoration: none;}

.widgettitle{font-size: 16px;color: #FFF;font-weight: 600;margin-bottom: 15px;}
#menu-quick-links{padding: 0;margin: 0;list-style: none;}
#menu-quick-links li{display: inline-block;line-height: 2;padding-right: 20px;}
#menu-quick-links li a{color: rgba(255,255,255,1);font-size: 14px;}
#menu-quick-links li a:hover{color: rgba(255,255,255,0.6); text-decoration: none;}
.btn-chek{padding: 15px 29px !important;color: #FFF !important;background: #fda711;border-radius: 3px;font-weight: 600;font-size: 15px;display: inline-block;}
.btn-chek:hover{color: #FFF; text-decoration: none;}
.carousel-caption{top: 45%;left: 50% !important;transform: translate(-50%,-50%); width: 100%;}
.carousel-caption h1{font-weight: 700;line-height: 1.5; font-size: 50px;}
.carousel-item:after {
  content:"";
  display:block;
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  background:rgba(0,0,0,0.5);
}
.bannerGirl{position: absolute;right: 0; bottom: 0;}
.homeBanner{padding: 100px 0px; overflow: hidden;min-height:556px; }
.homeBanner .homeBannerContent{padding-bottom: 50px;}
.homeBanner .homeBannerContent h1{color: #FFF; font-weight: 800;}
.homeBanner .homeBannerContent p{color: #FFF; font-weight: 500; font-size: 20px;line-height: 30px;}
.menuRightText{color: #FFF;}
.bookDemoText p{color: #FFF;font-size: 16px;}
.button-open{color: #FFF; border: 4px solid #FFF;
    border-radius: 30px;
    background: transparent;
    padding: 10px 28px;
    font-size: 20px;
    font-weight: 700;}
    .button-open:hover{color: #FFF; text-decoration: none;}
.button-open-small{color: #FFF; border: 4px solid #FFF;
    border-radius: 30px;
    background: transparent;
    padding: 5px 16px;
    font-size: 14px;
    font-weight: 700;}
        .button-open-small:hover{color: #FFF; text-decoration: none;}
.button-black{color: #000; border: 4px solid #000;}
.button-black:hover{color: #000; text-decoration: none;}
.button-open-black{color: #000; border: 4px solid #000;
    border-radius: 30px;
    background: transparent;
    padding: 10px 28px;
    font-size: 20px;
    font-weight: 500;}
.button-open-black:hover{color: #000; text-decoration: none;}
.button-close-black{color: #FFF; border: 4px solid #FFF;
    border-radius: 30px;
    background: #000;
    padding: 10px 28px;
    font-size: 20px;
    font-weight: 500;}
  .button-close-black:hover{color: #FFF; text-decoration: none;}
.button-close-red{color: #FFF; border: 4px solid #000;
    border-radius: 30px;
    background: #CE130C;
    padding: 10px 28px;
    font-size: 20px;
    font-weight: 500;}
  .button-close-red:hover{color: #FFF; text-decoration: none;}
.button-close-blue{color: #FFF; border: 4px solid #FFF;
    border-radius: 30px;
    background: #0088e3;
    padding: 10px 28px;
    font-size: 20px;
    font-weight: 500; box-shadow: 0 2px 15px #ddd;}
  .button-close-blue:hover{color: #FFF; text-decoration: none;}
.footercontent p{color: #FFF; padding-top: 20px;}
.marginauto{margin: 0 auto;}
.whatcanSiddo{padding: 40px 0px;}
.whatcanSiddo h2{font-size: 30px; font-weight: 800; color: #000; margin-bottom: 30px;}
.whatcanSiddo h4{font-size: 22px;  font-weight: 700; color: #000; margin-bottom: 30px;}
.whatcanSiddo p{font-size: 16px; font-weight: 600; color: #000; margin-bottom: 30px;}
a:hover{text-decoration: none;}
.iconSectionHome{padding: 30px 0px;}
.iconSectionHome .singleIconSection{text-align: left;}
.iconSectionHome .singleIconSection img{}
.iconSectionHome .singleIconSection h2{font-size: 26px; font-weight:600;min-height:53px; text-align: left;margin-top:15px;}
.iconSectionHome .singleIconSection p{font-size: 17px;font-weight: 500;line-height: 26px; margin-bottom: 32px;}
.iconSectionHome .singleIconSection a{}
.colorWhite{color: #FFF !important;}
.whySidContent p{font-size: 28px; font-weight: 600; line-height: 45px; color: #FFF;}
.sectionTitle{font-size: 30px;
    font-weight: 800;
    color: #000;
    margin-bottom: 30px;}
.howcansidhelp{padding: 40px 0px; overflow: hidden;}
.howcansidhelp .howcanSidContent{}
.howcansidhelp .howcanSidContent small{    font-size: 22px;
    font-weight: 600;}
.howcansidhelp .howcanSidContent h6{font-size: 25px;
    font-weight: 700;}
.howcansidhelp .howcanSidContent p{font-size: 15px;color: #5e5e68;}
.howcansidhelp .howcanSidContent p strong{font-size: 20px;}
.howcansidhelp .howcanSidContent ul {
  list-style: none;margin: 0;padding: 0;margin-bottom:25px;
}
.position-relative{position: relative;}
.rowSectionofImageText{margin-top: 50px;}
.rowSectionofImageText:before{
    width: 89px;
    content: " ";
    background: url(assets/images/leftcurve.png)no-repeat;
    position: absolute;
    left: -121px;
    top: -63px;
    height:201px;z-index: 9;
}
.alignimgRight{float: right;}
.alignimgLeft{float: left;}
.AlignLeft{}
.AlignRight{text-align: right;}
.howcansidhelp .howcanSidContent ul li::before {
  content: "\2688";
  color: red;
  font-weight: bold;
  display: inline-block; 
  width: 2em;margin-right:10px;
font-size: 12px;
}
.howcansidhelp .howcanSidContent ul li{
line-height: 30px;
}
.whySid{min-height:640px;padding: 60px 0px; background: url(assets/images/wave1.png)no-repeat; background-size: cover;}
.whySidContent{}
.whySIdUl{list-style: none;
    margin: 0;
    padding: 0;margin-top: 30px;}
.whySIdUl li{line-height:45px;}
.whySIdUl li a{color: #F5F1EE;
    font-weight: 600;font-size: 22px;}
.whySIdUl li a.active{color: #CE130C;font-weight: 800;}
.whySIdUl li a.active::before {
    content: "\2688";
    color: #FFF;
    font-weight: bold;
    display: inline-block;
    margin-right: 10px;
    font-size: 12px;margin-left: -25px;
}
.whySIdUl li a:hover{text-decoration: none;}
.quoteWhite{position: absolute;
    right: 0;
    top: 24%; overflow: hidden;}
.quotewhiteText{position: absolute;top: 20%;right: 0; display: none;}
.quotewhiteText img{float: right;text-align: right; padding-right: 30px;}
.quotewhiteText p{text-align: right; font-size: 17px; color: #FFF;padding-left:35px;}
.quotewhiteText.active{display: block;}
.numberCount .counter-value{display: inline-block;margin-bottom: 15px;}
.numberCount #counter{    background: -webkit-linear-gradient(
45deg
, #CE130C, #22273A 80%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 100px;
    font-weight: 700;}
.numberCount span{color: linear-gradient(to right, red , yellow);
    font-size: 20px; font-weight: 600;}
.mesuring{padding: 30px 0px;}

.largeGlobal{padding: 60px 0px; overflow: hidden; background: url(assets/images/wave2.png)no-repeat; background-size: cover;min-height:680px;}
.largeGlobal h2{color: #FFF; width: 320px; font-size: 45px; line-height: 55px; font-weight: 400; padding-top: 60px;position: absolute;top: 50%;transform: translate(0%,-44%);}
.largeGlobal h2 span{font-weight: 800;}
.logosfloat{position: absolute;right: 0; top: 50%; transform: translate(0%, -50%); min-height: 500px;}
.extraordinary{padding: 50px 0px; overflow: hidden; background: url(assets/images/graphbg.png)no-repeat; background-size: cover;}
.extraordinary h5{font-size: 30px;
    font-weight: 800;
    color: #CE130C;}
.extraordinary h6{font-size: 22px;
    color: #8b8b8b;}
.extraordinary small{color: #8b8b8b;}
.extraordinary img{}
.extraordinary p{font-size: 19px;}
.crossline:after{content: "";position: absolute; background: url(assets/images/crossline.png)no-repeat;width: 207px;
    height: 360px;
    right: -113px;
    top: 0;}

.aftercrossline{margin-top: 80px;}
.singleawardSection img{max-width: 40px;}
.singleawardSection h2{font-size: 20px; margin-top: 20px;}


.didyouknow{padding: 80px 0px;min-height: 340px; background: url(assets/images/wave3.png)no-repeat; background-size: 100% 100%;}
.didyouknow h2{padding: 20px 0px;}
.didyouknowOWL h6{font-size: 27px;
    color: #F5F1EE;
    font-weight: 300;padding-left: 40px;}
.didyouknowOWL h4{float: right;
    color: #F5F1EE;}
.didyouknowOWL .item{padding-top: 40px;}
.didyouknowOWL h6:before{content: "";position: absolute;width: 40px;height: 40px;top:0;left: 0; background: url(assets/images/quote.png)no-repeat;width: 40px;}
.staticMap{padding: 30px 0px; overflow: hidden;}
.greybackground{background: #f1f1f1;
    padding: 60px 30px;
    text-align: left;
    border-radius: 10px;}
.greybackground h2{font-size: 30px; font-weight: 700; color:#272d45;}
.sBlog{}
.sBlogFirst{padding: 30px 0px;}
.blogSingleTitle{max-width: 380px;font-size: 28px; font-weight: 700;line-height: 36px;}
.authors-list{    list-style: none;margin-bottom:40px;
    padding: 0;margin-top: 10px;}
.authors-list li{display: inline-block;}
.sImage1{max-width: 60px;
    display: inline-block;}
.sImage1 img{}
.sAuth{display: inline-block;
    vertical-align: middle; padding:0 10px;}
.sAuth span{    margin: 0;
    font-size: 13px;
    text-transform: uppercase;display: block;}
.sBlog p{font-size: 14px;
    line-height: 2;}
.sBlog h2{font-size: 25px; font-weight: 700; color:#272d45;    margin-bottom: 20px;}
.sBlog h3{font-size: 25px; font-weight: 400; color:#272d45;}
.sBlogSocial p{display: inline-block;}
.sBlogSocial span{color: #a0a0a0;}
.sBlogSocial a.resp-sharing-button__link{color: #a0a0a0;padding: 0px 6px;font-size: 20px;}
.sBlogNavigate{float: right;}
.sBlogNavigate a{color: #000;
    font-weight: 600;
    font-size: 16px;}
    .sBlogNavigate a:hover{text-decoration: none; color: #a0a0a0;}
.sBlogNavigate a i{color: #FFF;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    line-height: 25px;
    text-align: center; background: #cf120c;}
.prevArr{padding-right: 10px;}
.nextArr{padding-left: 10px;}
.prevArr i{margin-right:5px;}
.nextArr i{margin-left: 5px;}
.floatingTitle{position: absolute;
    top: 18%;
    left: 9%;
    color: #FFF;
    font-weight: 600;
    font-size: 35px;}
.floatingSocialShare{transform: rotate(
-90deg
);
    position: absolute;
    left: -39px;
    top: 93px;}

.sBlogCategory{background: #fef4e8; padding: 30px 20px;}
.sBlogCategory h6{color: #000;font-weight: 700;}
.sBlogCategory .topCategories{list-style: none; margin: 0;padding: 0;}
.sBlogCategory .topCategories li{line-height: 3;}
.sBlogCategory .topCategories li a{font-size: 14px; color: #000; font-weight: 600;}
.sBlogSubscribe{background: linear-gradient(to top right, #312032, #da0f13);}
.sBlogTrendingArticles{}
.sBlogTrendingArticles li{line-height: 2 !important;}
.sBlogTrendingArticles li a{margin-top:18px;}
.editorpick_list li{display: block; margin-top: 15px;}
.editorsPick{padding: 40px 0px;}
.blogEditorContent{}
.blogEditorContent h2{font-size: 22px;
    font-weight: 600;
    margin: 25px 0px;}
.blogEditorContent p{font-size: 14px; line-height: 2;}
.blogEditorContent .sImage1{max-width: 40px;}
.singleListBlog{border: 1px solid #ddd;cursor: pointer; transition: all 300ms ease-in-out; margin-bottom: 30px;}
.singleListBlog:hover{border: 1px solid #CE130C; box-shadow: 0 2px 15px #CE130C;}
.singleListBlogImage{}
.singleListBlogContent{padding: 20px;}
.singleListBlogContent h2{    font-size: 20px;
    font-weight: 600; color: #000;}
.singleListBlogContent p{font-size: 15px;
    font-style: italic; color: #000;}
.moveUpBanner{z-index: -1; position: relative;}
.moveUpBannerText{color: #FFF;
    font-size: 30px;
    position: absolute;
    top: 50%;
    left: 9%;
    max-width: 500px;
    font-weight: 600;
    line-height: 35px;
}
.headerWave{background: url('assets/images/headerwave.png')no-repeat;background-size:contain;}
.jobOpenings{padding: 40px 0px;}
.jobOpenings h2{font-size: 28px;
    font-weight: 700;
    line-height: 36px; margin-bottom: 25px;}
.jobs{border-top: 1px solid #b3b3b3;
    padding: 15px 15px 15px 0; cursor: pointer;}
.jobs:hover{border-top: 1px solid #CE130C;}
.jobs h4{    font-weight: 600;}
.jobs h6, .jobOpenings h6{color: #8a8a8a; font-size: 20px;}
.jobs span{float: right;
    background: #CE130C;
    width: 25px;
    height: 25px;
    line-height: 25px;
    border-radius: 50%;
    text-align: center;
    font-size: 13px;
    color: #FFF;
    margin-top: -20px;}
.jobOpenings .emailID{color: #CE130C;
    font-size: 25px;
    font-weight: 600;
    margin: 15px 0px;
    display: block;}
.wpcf7-form{padding: 20px;}
.form-inline label{font-size: 15px;width: 150px;
    text-align: left;
    align-items: self-start !important;
    justify-content: left !important;}
.form-inline .form-group{margin-bottom: 15px !important;}
.modal-content{border: 6px solid #0088e3 !important;
    border-radius: 28px !important;}
.modal-lg{margin-top:67px !important;}
.modal-header .close{background: #0088e3; border-radius: 0 20px;    opacity: 1;color: #FFF;}
.aboutOne{padding: 40px 0px; overflow: hidden;}
.quaterImageView{width: 60%; margin:25px auto; display: block}
.aboutlefttwo{position: relative;}
.aboutlefttwo span{position: absolute;
    top: 51px;
    left: 40px;
    font-size: 28px;
    text-align: center;
    font-weight: 700;}
.aboutleftthree p{font-weight: 600; line-height: 2;}
.ourLeadership{padding: 40px 0px;}

.leadership img{max-width: 150px;
    text-align: center;
    margin: 15px auto;
    display: block;}
.leadership h5{font-size: 20px;}
.leadership h5 strong{font-size: 26px;}
.leadership p{ margin-bottom: 30px;}
.imageGroups{position: relative;margin-bottom: 33px;}  
.leadership a{width: 50px;
    height: 50px;
    background: #4879d5;
    border-radius: 50%;
    position: absolute;
    line-height: 50px;
    text-align: center;
    top: 72%;
    right: 32%;color: #FFF;}  
.leadership a:hover{color: #FFF;} 
.leadership span{padding-left: 20px; font-weight: 600;}
.leaderQuote:before {
    content: "";
position: absolute;
    width: 20px;
    height: 20px;
    margin-top: -17px;
    margin-left: -20px;
    background: url(assets/images/quote.png)no-repeat;
    background-size: cover;
}
.imageGroupsQoute{position: relative;margin-bottom: 33px;}
.quoteSIDdoes{margin-top: 50px; overflow: hidden;}
.listQuotePoints{list-style: none;}
.listQuotePoints li::before {
  content: "\2688";
  color: red;
  font-weight: bold;
  display: inline-block; 
  width: 2em;
font-size: 22px;vertical-align:middle;
}
.listQuotePoints li{
line-height: 2.5;
    font-size: 30px;
    font-weight: 600;
}
.SIDDoesIT{position: absolute;
    top: 91px;
    width: 100%;
    left: 37px;}
.SIDDoes{padding-right: 157px;}
.SIDDoes h2{font-size: 70px;
    font-weight: 700;}

.pageTitle{padding: 40px 0px;}
.downloadSuccess{}
.downloadSuccess h4{font-size: 28px;
    line-height: 1.4;
    font-weight: 700;}
.downloadSuccess a{margin-top: 23px;
    display: inline-block;}
.ml-82{margin-left: 82px;}
.ml--10{margin-left: -10px;}

.Resource-head a{color: #000;}
.Resource-head a:hover{color: #000; text-decoration: none;}
.contact_info{padding: 40px 0px;}
.contact_info h6{font-size: 35px;
    font-weight: 700;}
.contact_info h5{font-size: 30px;
    font-weight: 400;}
.contact_info a{font-size: 30px;
    font-weight: 700;
    color: #000;}
    .contact_info a:hover{text-decoration: none;}
.contact_info hr{    width: 100%;
    height: 2px;
    background: #ce130c;
    margin: 32px 0px;}
.contact_info h2{font-size: 30px;
    font-weight: 800;
    color: #CE130C;}
.contact_info h3{font-size: 22px;
    color: #8b8b8b;}
.contact_info small {
    color: #8b8b8b;
}
.contact_info img{}
.contact_info p{font-size: 19px; color: #000;    margin-top: 26px;
    margin-left: 39px;}
.contactQuote:before {
    content: "";
position: absolute;
    width: 40px;
    height: 40px;
    margin-top: -38px;
    margin-left: -39px;
    background: url(assets/images/quote.png)no-repeat;
    background-size: cover;
}
.contactFormUs{}
.contactFormUs label{font-weight: 600;}
.contactFormUs .form-control{border:3px solid #000; border-radius: 0px;}
button{cursor: pointer;}
.subscribebbt{float: right; margin-right: 12px;}
.footercontent{padding-top: 30px;}
.termsCondition-menu{position: relative; margin-top: 20px;}
.termsCondition-menu li{display: inline-block; padding-right: 10px; padding-left: 10px; }
.termsCondition-menu li::after{
  content: "";
  position: absolute;
  z-index:100;
  width: 1px;
    height: 14px;
    background: #FFF;
    margin: 9px 10px;
}
.termsCondition-menu li:first-child{padding-left: 0px;}
.termsCondition-menu li:last-child::after{display: none;}



@media (min-width: 768px){
	.noSpeak{width: 40% !important;}
	.noSpeakSmall{width: 20% !important;}
	.requestCallback .container{padding: 0 96px;}
	.cardDesign{padding-top: 50px;}
	.sm-left-30{margin-left: 30px;}

}
@media (min-width: 1024px) and (max-width: 1921px){
  .moveUpBannerText {
    color: #FFF;
    font-size: 36px;
    position: absolute;
    top: 48%;
    left: 9%;
    max-width: 500px;
    font-weight: 600;
    line-height: 59px;
  }
  .navbar-expand-lg .navbar-nav{padding-left: 38px;}
}
@media (min-width: 768px) and (max-width: 1024px){
	.ourProfessional .portBlock{min-height: 190px;}
	.cardDesign .cardDesignSingle{padding: 30px 20px;
    min-height: 630px; cursor: pointer; background-size: cover !important;}
    .carousel-caption{top: 33%;}
	.carousel-caption h1{font-size: 45px;}
	.floatIconBox .vc_column-inner{min-height:138px;}
  .floatingTitle{top: 92px;font-size: 24px;}
  .moveUpBannerText{top: 30%;}
}
@media (max-width: 1024px){
	.ulTopHeader a{font-size: 11px;}
	.ulTopHeaderSocial a{padding-right: 0;}
}
@media (min-width: 768px) and (max-width: 769px){
	.floatBannerSection{    margin-top: -107px !important;}
}
@media (max-width: 768px){
	.topHeader{display: none;}
	.part-1,.part-2,.part-3{margin-top: 30px;}
	.subFooter{margin-top: 20px;}
	.ulFooterSocial i{font-size: 30px;}
  .menuRightText{padding: 0 0 0 9px;}
  .navbar.navbar-expand-lg.p-0{margin-top: 15px;}
  .homeBanner .homeBannerContent{padding:30px;}
  .homeBanner{background-size:192% 43% !important;}
  .bookDemoText{text-align: center;}
  .bookDemoText p{color: #CE130C;    margin-top: 30px;
    font-size: 21px;
    padding: 0 30px;
    font-weight: 600;}
    .homeBanner .button-close-red{text-align: center;
    margin: 15px auto;
    display: block;}
    .homeBanner{padding-bottom: 20px !important;}
  .whatcanSiddo p{margin-bottom: 0;}
  .whatcanSiddo{padding-bottom: 0px;}
  .iconSectionHome .singleIconSection{margin-top: 10px;}
  .iconSectionHome .singleIconSection h2{font-size: 20px;}
  .alignimgRight{float: none;margin: 15px auto;
    width: 100%;}
.alignimgLeft{float: none; text-align: center;margin: 15px auto;
    width: 100%;}
.sticky .navbar-toggler-icon {  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");}
.whySid{padding: 60px 0px; background: url(assets/images/wave1-mobile.png)no-repeat; background-size: cover;}
.whysidOWL img{max-width: 90px; margin: 50px auto;}
.whysidOWL h6{font-size: 20px;
    color: #FFF;
    font-weight: 600;
    text-align: center;
    margin: 30px 0px;}
    .whysidOWL p{    font-size: 18px;
    color: #FFF;
    text-align: center; line-height: 34px;}
    .largeGlobal h2{position: relative; transform: translate(20px, 2px);font-size: 24px;}
    .logosfloat{position: relative; transform: translate(10px, 10px);}
    .singleawardSection{text-align: center;}
    .singleawardSection{min-height: 226px;}
    .singleawardSection h2{font-size: 16px;}
    .didyouknow{padding:80px 0px;}
    .logosfloat{min-height: 292px;}
    .footercontent .button-close-black{text-align: center;margin: 48px auto;
    display: block;
    margin-bottom: 40px !important;}
    .ulFooterSocial{ margin-bottom: 30px;}
    .copyrightComp p{text-align: center;}
      .floatingTitle{top: 92px;font-size: 24px;}
  .headerWave{background: url('assets/images/headerwave.png')no-repeat;background-size:contain;}
  .moveUpBanner{padding-top: 22px;}
  .moveUpBannerText{font-size: 22px; top: 172px;max-width: 400px;}
  .SIDDoesIT{position: relative;
    top: 0;
    left: 0;}
    .listQuotePoints li {
    line-height: 2;
    font-size: 18px;
    font-weight: 600;
}
.listQuotePoints{padding:0;}
.SIDDoes h2 {
    font-size: 36px;
    font-weight: 700;
}
.aboutlefttwo span {
    position: absolute;
    top: 22px;
    left: 13px;
    font-size: 24px;
    text-align: center;
    font-weight: 700;
}
.pageTitle{padding-bottom: 0px;}
.pageTitle .sectionTitle{margin-bottom: 0px;}

.downloadSuccess h4{font-size: 20px;}
.downloadSuccess h4{margin-top: 20px;}

}

@media (min-width:994px){
   header{max-height: 100px;padding-top: 15px;
    padding-left: 10px;}
   /*header li.dropdown:hover{background-color: #020202;}*/
   header li.dropdown:hover > .dropdown-menu {    display: block;width: max-content;}
  header .navbar-nav .active::after{ width: 100%; left:0;}

}
@media (min-width: 400px){
}
@media (max-width: 400px){
  .floatingTitle{top: 126px;font-size: 18px;}
  .moveUpBanner{padding-top: 95px;}
  .headerWave{background: url('assets/images/innerbannermobile.png')no-repeat;background-size:contain;}
  .moveUpBannerText{display: none;}
}

@media (min-width: 400px) and (max-width: 640px){

}