.fw-700 {
    font-weight: 700;
}
.wave-bg {
    background: url(assets/images/productwavebg.jpg)no-repeat;
    background-size: contain;
}
.products-section h4 {
    font-size: 36px;
    text-align: left;
    color: #CE130C;
    font-weight: 800;
    margin-bottom: 0px;
}
p.subheading {
    font-size: 21px;
    font-weight: 700;
    line-height: 36px;
    margin-bottom: 25px;
    text-align: left;
}
h5.maindesc-1 {
    color: #CE130C;
    font-size: 16px;
    font-weight: 700;
}
p.description {
    font-size: 14px;
    font-weight: 700;
}
.border-lr {
    border-left: 2px solid #CE130C;
    border-right: 2px solid #CE130C;
}
.redg-bg {
    /*background: linear-gradient(to left, #882121 -1%, #ba2626 42%);*/
    background: linear-gradient(to right, #ce130c, #7e181b 450px, #882121 50%);
    border-radius: 40px;
}
p.specs-small {
    color: white;
    font-size: 14px;
    font-weight: 600;
}
.spec-box {
    text-align: center;
    border-right: 1px solid white;
}
.flex-list {
    position: relative;
    margin: 1em;
    overflow: hidden; width: 100%;
}
.flex-list ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: -1px;
    list-style-type: none;
    margin-bottom: 0px;
}
.flex-list li {
    flex-grow: 1;
    flex-basis: auto;
    margin: .25em 0;
    padding: 0 1em;
    text-align: center;
    border-right: 1px solid #CE130C;
    color: white;
    font-size: 16px;
    font-weight: 500;
}
.my-7 {
    margin: 160px 0 0;
}
.mb-7 {
    margin-bottom: 160px;
}
ul.solution-overview {
    padding: 15px;
    list-style-type: none;
}
i.fa.fa-minus {
    color: red;
    margin-left: -20px;
    margin-right: 10px;
    font-size: 10px;
}
ul.solution-overview li {
    font-size: 14px;
    margin-bottom: 25px;
    color: black;
    font-weight: 500;
}
.bg-silver {
    background: #efefef;
    border-radius: 15px;
}
.products-section.heading-box h2 {
    font-size: 28px;
    font-weight: 700;
    line-height: 36px;
    margin-bottom: 25px;
}
.button-gradient {
    background: -webkit-linear-gradient(145deg, #CE130C, #22273A 100%);
    border: none;
    padding: 10px 20px;
}
.flex-listfull {
    position: relative;
    margin: 1em;
    overflow: hidden;
}
.flex-listfull ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: -25px;
    list-style-type: none;
    margin-bottom: 0px;
    padding: 0px;
}
.flex-listfull li {
    flex-grow: 1;
    flex-basis: auto;
    margin: .25em 0;
    padding: 0 1em;
    text-align: center;
    border-right: 1px solid #a9a9a9;
    color: white;
    font-size: 20px;
    font-weight: 500;
}
.red-wave {
    padding: 80px 0px;
    min-height: 200px;
    background: url(/asksid/wp-content/themes/asksid/assets/images/wave4.png)no-repeat;
    background-size: cover;
}
h2.card-head {
    font-size: 14px;
    margin-bottom: 25px;
    color: black;
    font-weight: 500;
}
.p-middle {
    padding: 10px 40px;
}
h4.redhead {
    font-size: 45px;
    text-align: center;
    color: #CE130C;
    font-weight: 800;
    margin-bottom: 0px;
}
.resource-overview {
    padding: 60px 0;
}
.Resource-head h2 {
    font-size: 40px;
    font-weight: 700;
}
.artilce-head h2 {
    font-size: 40px;
    font-weight: 700;
    line-height: 36px;
    margin-bottom: 25px;
}
.singleListResourceContent h2 {
    font-size: 24px;
    font-weight: 700;
    color: #000;
}
.singleListResourceContent {
    padding: 30px 20px;
}
section.subscribe {
    padding: 80px 0px 30px;
    min-height: 200px;
    background: url(/asksid/wp-content/themes/asksid/assets/images/wave3.png)no-repeat;
    background-size: 100% 95%;
    margin-bottom: 100px;
}
.subscribe-head h2 {
    font-size: 35px;
    text-align: left;
    color: #fff;
    font-weight: 800;
    margin-bottom: 0px;
}
input.subscribe-input {
    width: 100%;
    padding: 10px 20px;
    border: 5px solid black;
}
input.subscribe-input {
    width: 100%;
    padding: 15px 20px;
    border: 5px solid black;
    font-style: italic;
    font-size: 14px;
}
.button-white {
    background: white;
    color: #000;
    border: 5px solid black;
    padding: 10px 30px;
}
.button-white:hover {
    color: black;
}
section.termsContent {
    padding: 60px 0;
    margin-bottom: 100px;
}
.contentStarts h3 {
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 700;
}
.contentStarts p {
    font-size: 14px;
    font-weight: 500;
}
ul.terms {
    padding: 0px 15px;
    list-style-type: decimal;
    font-size: 14px;
    font-weight: 500;
}
ul.terms li {
    padding: 5px 15px;
}
@media screen and (max-width: 550px) {
    .border-lr {
      border-top: 2px solid #CE130C;
      border-bottom: 2px solid #CE130C;
      padding: 10px 0 0;
      border-left: none;
      border-right: none;
   }
   .spec-box {
        border-right: none;
        padding: 15px 0 0;
   }
   .products-section.heading-box {
    padding: 20px 0 0!important;
   }
   .products-section h4, p.subheading {
     text-align: center;
     margin-bottom: 0px;
   }
   .flex-list ul, .flex-listfull ul {
     padding: 0px;
   }
   .flex-list li, .flex-listfull li {
    border: none !important;
   }
   .redg-bg {
     margin: 0 -5px;
   }
   h1.moveUpBannerSolutionHead {
    display: none;
   }
   section.termsContent {
    margin-bottom: 30px;
   }
   .Resource-content {
    padding-top: 25px;
   }
   .social-mt {
    margin-top: 25px;
   }
   .subscribe-box {
    margin-top: 40px;
   }
   .imageGroupsQoute img.img-fluid {
    display: none !important;
   }
}
@media screen and (min-width: 570px) and (max-width: 910px) and (orientation: landscape) {
  .listQuotePoints li {
    font-size: 15px !important;
  }
  .SIDDoes {
    padding-right: 50px !important;
  }
  footer h2 {
    font-size: 14px !important;
    margin-bottom: 15px !important;
  }
  .footercontent p {
    font-size: 12px !important;
  }
  .button-close-black {
    font-size: 14px !important;
    margin: 28px auto !important;
  }
  footer ul li a {
    font-size: 12px !important;
  }
  .footercontent strong {
        font-size: 14px !important;
  }
  .copyright p, .copyrightComp p {
    font-size: 14px;
  }
  .jobOpenings h2 {
    line-height: 28px;
    font-size: 20px;
  }
  .jobs h4 {
    font-size: 20px;
  }
  .jobs h6, .jobOpenings h6 {
    font-size: 16px;
  }
  .jobs span {
    margin-top: -30px;
  }
  .homeBanner {
    background-size: 112% 103% !important;
    min-height: 0px;
   }
   .homeBanner .homeBannerContent h1 {
    font-size: 30px;
   }
   .homeBanner .homeBannerContent p {
     font-size: 12px;
     line-height: 18px;
   }
   .bookDemoText, button.button-open {
    display: none;
   }
   .numberCount #counter {
    font-size: 50px;
   }
   .quoteWhite {
    top: 66%;
   }
   .whySid {
    min-height: 970px;
   }
   .whySIdUl li a {
    font-size: 20px;
   }
   .crossline:after {
      height: 291px;
      right: -93px;
   }
   .extraordinary p {
    font-size: 14px;
   }
   h1.moveUpBannerSolutionHead {
    position: absolute;
    top: 130px;
    color: white;
    padding: 20px;
    font-size: 32px;
   }
} 
@media screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
    .flex-list li, .flex-listfull li {
        font-size: 12px;
    }
    h1.moveUpBannerSolutionHead {
        font-size: 22px;
        position: absolute;
        top: 192px;
        max-width: 410px;
        left: 30%;
        color: white;
   }
   .subscribe-head h2 {
     font-size: 26px;
   }
   .button-close-black {
     font-size: 16px;
   }
   .numberCount #counter {
     font-size: 90px;
   }
   .quoteWhite {
    top: 65%;
   }
   .whySid {
     min-height: 900px;
   }
   .homeBanner {
    background-size: 120% 80% !important;
   }
   .homeBanner .homeBannerContent h1 {
    font-size: 28px;
   }
   .homeBanner .homeBannerContent p {
    font-size: 15px;
    line-height: 20px;
   }
   .bookDemoText p {
      padding: 0 15px;
      font-size: 15px;
      margin-top: 0px;
   }
   .button-open {
    font-size: 12px;
   }
   .footercontent strong {
    font-size: 15px;
   }
   .SIDDoesIT {
    top: -250px;
    left: 50px;
   }
}
@media screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    h1.moveUpBannerSolutionHead {
     color: #FFF;
     font-size: 36px;
     position: absolute;
     top: 28%;
     left: 9%;
     max-width: 700px;
     font-weight: 600;
     line-height: 40px;
    }
    .listQuotePoints li {
      font-size: 28px;
    }
    .SIDDoes h2 {
      font-size: 60px;
    }
    .page-template-careers h1.moveUpBannerText, .page-template-contact-us h1.moveUpBannerText {
     top: 23%;
    }
    .howcansidhelp .howcanSidContent h6 {
      font-size: 23px;
    }
    .quoteWhite {
      top: 35%;
    }
    .logosfloat {
      left: 300px;
    }
}

@media screen and (min-width: 1025px) and (max-width: 1921px) {
    h1.moveUpBannerSolutionHead {
    color: #FFF;
    font-size: 36px;
    position: absolute;
    top: 35%;
    left: 35%;
    max-width: 725px;
    font-weight: 600;
    line-height: 50px;
  }
  .floatR {
    float: right;
  }
  .social-mt {
    margin-top: -25px;
  }
  .button-white {
    position: relative;
    left: 10px;
  }
}
@media screen and (min-width: 1915px) and (max-width: 1921px) {
  .whatcanSiddo h4 {
    font-size: 20px;
  }
  .homeBanner {
    min-height: 775px;
  }
  .iconSectionHome, .mesuring, section.awards.global {
    padding: 60px 0;
  }
  .whySid {
    padding: 120px 0px 40px;
    background-size: 100% 80%;
    min-height: 850px;
  }
  .largeGlobal {
    min-height: 890px;
    background-size: 100% 100%;
  }
  .didyouknow {
    min-height: 600px;
    background-size: 100% 80%;
  }
  .staticMap {
    padding: 100px 0;
  }
  .greybackground {
    margin-bottom: 120px;
   }
   .extraordinary.global {
    padding: 100px 0;
  }
  .sectionTitle {
    font-size: 40px;
  }
  .rowSectionofImageText:before {
    background-size: 110% 70%;
    left: -411px;
    height: 600px;
  }
  footer {
    background-size: auto;
    padding: 90px 40px 40px;
  }
}